@import "normalize.css";
@font-face {
  font-family: Lato thin;
  src: url(../fonts/Lato-Thin.ttf);
}
@font-face {
  font-family: Lato Black;
  src: url(../fonts/Lato-Black.ttf);
}
@font-face {
  font-family: Opensans;
  src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
  font-family: Opensans Semibold;
  src: url(../fonts/OpenSans-SemiBold.ttf);
}
@font-face {
  font-family: Opensans Bold;
  src: url(../fonts/OpenSans-SemiBold.ttf);
}
.home {
  background: url(../img/main-bg.jpg);
  background-size: cover;
}

.home-shadow {
  background: url(../img/main-shadow.png) repeat-x top;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  padding-top: 25px;
  margin: auto;
}

.logo {
  padding-left: 100px;
}

nav {
  font-family: Lato thin;
  font-size: 12px;
  padding-right: 100px;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.nav-menu {
  width: 65px;
  margin-left: 30px;
  padding-top: 27px;
}
.nav-menu:hover {
  border-top: solid 1px #4c76ff;
}

.home-content {
  text-align: center;
  margin: auto;
}

h1 {
  font-family: Lato Black;
  font-size: 62px;
  color: #fff;
  padding-top: 250px;
  margin: 0;
}

.text-color-decor {
  color: #4c76ff;
}

.home-text {
  font-family: Lato thin;
  font-size: 48px;
  color: #fff;
  margin: 25px;
}

.home-text-s {
  font-size: 18px;
}

.home-social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-social-block {
  width: 25px;
  padding-left: 15px;
  margin-top: 100px;
  margin-bottom: 100px;
  transition: 1s;
}
.home-social-block:hover {
  transform: scale(1.5);
}

.features {
  background: #efefef;
  text-align: center;
}

.features-block {
  max-width: 1200px;
  margin: auto;
}

h2 {
  font-family: Lato Black;
  font-size: 28px;
  color: #4c76ff;
  margin-top: 0;
  padding-top: 70px;
}

.features-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 65px;
  padding-bottom: 60px;
}

.features-box {
  width: 330px;
  text-align: left;
  display: flex;
  align-items: flex-start;
  padding-bottom: 60px;
}

.feat-img {
  width: 35px;
  height: 35px;
  padding: 15px;
}

.box {
  width: 260px;
}

.box h3 {
  font-family: Opensans Semibold;
  font-size: 16px;
}

.feat-text {
  font-family: Opensans;
  font-size: 10px;
}

.features-block {
  text-align: center;
}

.feat-head-text {
  max-width: 800px;
  margin: auto;
  padding: 85px 0 75px 0;
  font-size: 15px;
}

.features-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.features-block h3 {
  font-family: Opensans;
  font-size: 14px;
}

.features-group .features-box:hover {
  background: #fefce9;
}

.works {
  background: #fff;
  text-align: center;
}

.works-block {
  max-width: 1220px;
  box-sizing: border-box;
  margin: auto;
}

.works-text {
  font-family: Lato thin;
  font-size: 14px;
  max-width: 720px;
  margin: auto;
  padding-top: 45px;
}

.works-butt {
  margin-top: 70px;
  margin-bottom: 70px;
}

button {
  padding: 5px;
  margin-left: 25px;
  border: solid 1px transparent;
  border-radius: 4px;
  font-family: Lato Black;
  font-size: 14px;
  background-color: transparent;
  cursor: pointer;
}
button:hover {
  background-color: #4c76ff;
  color: #fff;
}
button:active {
  transform: translateY(1px);
}

.works-gallery {
  display: flex;
  flex-flow: row wrap;
}

.gallery-item {
  width: 300px;
  height: 225px;
  position: relative;
}
.gallery-item .gallery-main-img img {
  width: 300px;
  height: 225px;
}
.gallery-item .gallery-hidden {
  background: rgba(89, 126, 249, 0.8);
  width: 300px;
  height: 225px;
  position: absolute;
  top: 0;
  display: none;
}
.gallery-item .gallery-hidden .gallery-text {
  font-family: Opensans Bold;
  font-size: 14px;
  color: #fff;
  margin-top: 15px;
  margin-bottom: 5px;
}
.gallery-item .gallery-hidden .gallery-type {
  font-family: Opensans Bold;
  font-size: 10px;
  color: #fff;
  margin-top: 5px;
}
.gallery-item:hover > .gallery-hidden {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
