@import "normalize.css";
@font-face {
    font-family: Lato thin;
    src: url(../fonts/Lato-Thin.ttf);
}
@font-face {
    font-family: Lato Black;
    src: url(../fonts/Lato-Black.ttf);
}
@font-face {
    font-family: Opensans;
    src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
    font-family: Opensans Semibold;
    src: url(../fonts/OpenSans-SemiBold.ttf);
}
@font-face {
    font-family: Opensans Bold;
    src: url(../fonts/OpenSans-SemiBold.ttf);
}

.home {
    background: url(../img/main-bg.jpg);
    background-size: cover;
}

.home-shadow {
    background: url(../img/main-shadow.png) repeat-x top;
}

.container {
    max-width: 1200px;
    margin: auto;
}

*, ::after, ::before {
	box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    margin: auto;
    transition: all 0.3s linear;
}

.sticky {
    background: #062033;
    position: fixed;
    top: 0;
    width: 100%;
    padding-bottom: 15px;
    z-index: 10;
  }

  .active {
    border-bottom: solid 1px #4c76ff;
  }

.logo {
    padding-left: 16%;
    padding-top: 1.5%;
}

nav {
    font-family: Lato thin;
    font-size: 12px;
    padding-top: 20px;
    padding-right: 16.7%;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.nav-menu {
    width: 65px;
    margin-left: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
    &:hover {
        border-top: solid 1px #4c76ff;
    }
}

.home-content {
    text-align: center;
}

h1 {
    font-family: Lato Black;
    font-size: 62px;
    color: #fff;
    padding-top: 235px;
    margin: 0;
}

.text-color-decor {
    color: #4c76ff;
}

.home-text {
    font-family: Lato thin;
    font-size: 48px;
    color: #fff;
    margin: 2px;
}

.home-text-s {
    font-size: 18px;
    margin: 20px;
}

.home-social {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 28px;
}

.home-social-block {
    margin: 90px 5px;
    transition: 1s;
    opacity: 0.3;
    &:hover {
        transform: scale(1.5);
        opacity: 1;
    }
}

// second section

.features {
    background: #efefef;
    text-align: center;
}

h2 {
    font-family: Lato Black;
    font-size: 28px;
    color: #4c76ff;
    text-align: center;
    margin-top: 0;
    padding-top: 70px;
    &::after {
        content: url(../img/shape.png);
        display: block;
        padding: 8px;
    }
}

.features-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    margin-top: 55px; 
    padding-bottom: 55px;
}

.features-box {
    width: 330px;
    text-align: left;
    display: flex;
    align-items: flex-start;
    padding-bottom: 60px;
    &:hover {
        background: #fefce9;
        .feat-img {
            opacity: 1;
        }
    }
    @media screen and (max-width: 690px) {
        width: 100%;
        padding-bottom: 5px;
    }
}

.feat-img {
    padding: 10px;
    opacity: 0.4;
}

.features-box1 {
    width: 330px;
    text-align: left;
    display: flex;
    align-items: flex-start;
    padding-bottom: 60px;
    @media screen and (max-width: 690px) {
        width: 100%;
        padding-bottom: 5px;
    }
}

.feat-img1 {
    padding: 10px;
}

.box {
    width: 260px;
    @media screen and (max-width: 690px) {
        width: 100%;
    }
}

.box h3 {
    font-family: Opensans Semibold;
    font-size: 16px;
    color: #282528;
}

.feat-text {
    font-family: Opensans;
    font-size: 10px;
    color: rgba($color: #282528, $alpha: 0.6)
}

.feat-part {
    margin-left: 10px; 
}

.features-block {
    text-align: center;
}

.feat-head-text {
    max-width: 800px;
    margin: auto;
    padding: 85px 0 75px 0;
    font-size: 15px;
}

.features-group {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
}

.phone-pic {
    img {
    @media all and (min-width: 320px) and (max-width: 1000px)  {
        display: none;
    }
}
}

.features-block h3{
    font-family: Opensans;
    font-size: 14px;
}

// works section

.works {
    background: #fff;
    text-align: center;
}

.works-block {
    box-sizing: border-box;
}

.text {
    font-family: Lato thin;
    font-size: 14px;
    text-align: center;
    max-width: 720px;
    margin: auto;
}

.works-butt {
    margin-top: 70px;
    margin-bottom: 70px;

    button {
        padding: 5px;
        margin-left: 25px;
        border: solid 1px transparent;
        border-radius: 4px;
        font-family: Lato Black;
        font-size: 14px;
        background-color: transparent;
        cursor: pointer;
        &:hover, &.active {
            background-color: #4c76ff;
            color: #fff;
        };
    
        &:active {
            transform: translateY(1px);
         };
      }

}

.works-gallery {
      display: flex;
      flex-flow: row wrap;
  }

.gallery-item{
    width: 300px;
    height: 225px;
    position: relative;
    .gallery-main-img img {
        width: 300px;
        height: 225px;
        object-fit: cover;
    }
    .gallery-hidden {
        background: rgba($color: #597ef9, $alpha: 0.8);
        width: 300px;
        height: 225px;
        position: absolute;
        top: 0;
        display: none;
        .gallery-text {
            font-family: Opensans Bold;
            font-size: 14px;
            color: #fff;
            margin-top: 15px;
            margin-bottom: 5px;
        }
        .gallery-type {
            font-family: Opensans Bold;
            font-size: 10px;
            color: #fff;
            margin-top: 5px;
        }
    }
    &:hover > .gallery-hidden {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

  //team section

.team-box {
      margin-top: 100px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-flow: row wrap;
      text-align: center;
}

.team-item {
      width: 230px;
      height: 350px;
      position: relative;
      margin: 5px;
      .teammate {
        img {
            width: 230px;
            height: 250px;
            object-fit: cover;
          }
      }
      & p {
          margin-bottom: 0;
      }
      &:hover > .teammate-hidden {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      &:hover > .teammate .name {
          color: #7ad6c3;
      }  
}

.teammate-hidden {
    font-family: Opensans Bold;
    font-size: 14px;
    & .hidden-text {
        font-family: Opensans; 
        font-size: 12px;
        opacity: 0.6;
    }
    background: rgba($color: #557dff, $alpha: 0.9);
    color: #fff;
    width: 230px;
    height: 250px;
    position: absolute;
    top: 0;
    display: none;
    .team-social {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
    }
    .team-social-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #3653ae;
        width: 35px;
        height: 35px;
        margin: 1px;
        &:hover {
            background: rgba($color: #3653ae, $alpha: 0.6)
        }
    }
}

.name {
    font-family: Opensans Semibold;
    font-size: 14px;
    color: #062033;
}

.job {
    font-family: Opensans;
    font-size: 10px;
    color:rgba($color: #062033, $alpha: 0.4);
}

// facts section

.facts {
    background: url(../img/facts-bg.jpeg);
    background-size: cover;
    & h2::after {
        content: url(../img/shape-features.png);
    }
}

.facts-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
    padding-bottom: 150px;
}

.facts-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.facts-item-img {
    width: 100px;
    border: solid #fff 1px;
    border-radius: 50%;
    padding: 35px;
}

.facts-number {
    font-family: Opensans Semibold;
    font-size: 44px;
    color: #fff;
    margin: 0;
    margin-top: 35px;
}

.facts-com {
    font-family: Opensans;
    font-size: 14px;
    color: rgba($color: #fff, $alpha: 0.6);
}

// contact section

.contact-box {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-flow: row wrap;
    margin: 50px 0 100px 0;
    @media screen and (max-width: 430px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.contact-item {
    padding: 10px;
}

.contact-item1 {
    max-width: 220px;
    padding: 10px;
}

.contact-text {
    font-family: Opensans;
    font-size: 18px;
    color: #37383c;
}

.contact-text1 {
    font-family: Opensans;
    font-size: 12px;
    color: #37383c;
    opacity: 0.6;
}

.contact-text2 {
    font-family: Opensans Bold;
    font-size: 20px;
    font-weight: bold;
}

.contact-item-socil {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 690px) {
        flex-direction: row;
    }
}

.map {
    text-align: center;
}

.map-img {
    max-width: 1200px;
    width: 100%;
    object-fit: cover;
    ;
}

input[type=text], input[type=email] {
    font-family: Opensans;
    font-size: 10px;
    width: 300px;
    height: 35px;
    border: none;
    border-bottom: 1px solid rgba($color: #888, $alpha: 0.2);
    @media screen and (max-width: 690px) {
        width: 200px;
    }
    @media screen and (max-width: 430px) {
        width: 100px;
    }
}

input[placeholder="Message"] {
    width: 605px;
    @media screen and (max-width: 690px) {
        width: 405px;
    }
    @media screen and (max-width: 430px) {
        width: 205px;
    }
}

.contact-btn {
      border: none;
      background: #fff;
      font-family: Opensans;
      font-size: 13px;
      height: 25px;
      float: right;
      display: flex;
      margin: 15px 0 0 0;
}

.envelope {
    margin-right: 5px; 
}

.contact-social {
    padding: 5px;
    transition: 1s;
    &:hover {
        transform: scale(1.5);
        opacity: 1;
    }
}

// footer

footer {
    background: rgba($color: #010305, $alpha: 0.9);
}

.foot-box {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    @media screen and (max-width: 690px) {
        flex-flow: row wrap;
    }
}

.foot-item {
    max-width: 250px;
    margin: 50px 0;
    input[type=email] {
        border: 1px solid #fff;
        color: #fff;
        background: rgba($color: #010305, $alpha: 0.9) url(../img/Shape5.png) no-repeat;
        background-position: 215px 10px;
        width: 250px;
    }
    @media screen and (max-width: 690px) {
        margin: 15px 0;
    }
}

.foot-btn {
    position: relative;
    top: -27px;
    left: 215px;
    background: rgba($color: #000000, $alpha: 0.1);
    border: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.foot-text {
    font-family: Lato thin;
    font-size: 12px;
    color: #fff;
}

.foot-h {
    font-family: Lato Black;
    font-size: 18px;
    color: rgba($color: #fff, $alpha: 0.8);
    margin-top: 0;
}

.foot-list {
    display: flex;
    align-items: center;
}

ul {
    list-style-type: none;
    padding: 0;
    padding-right: 20px;
    margin-top: 0;
}

li, .foot-text1 {
    font-family: Opensans;
    font-size: 12px;
    color: rgba($color: #fff, $alpha: 0.6);
    padding: 5px;
    margin: 0;
}

.hamburger-button {
    cursor: pointer;
    display: none;
    .fa {
        font-size: 16px;
    }
}

@media screen and (max-width: 690px) {
    .logo {
        display: none;    
    }

    #menu {
        display: block;
        padding-right: 0;
        width: 100%;

        a:not(:first-child) {
            display: none;
        }
        
        a.hamburger-button {
            display: block;
            float: right;
            margin-right: 15px;
        }
    }
}

#menu.hamburger-open {
    overflow: hidden;

    a {
        float: none;
        display: block;
        text-align: left;
    }

    a.hamburger-button {
        position: absolute;
        top: 0;
        right: 0;
        padding: inherit;
    }
}